'context-menu':
  '.atom-workspace': [
    {
      'label': 'Copy',
      'command': 'clipboard-history:copy'
    },
    {
      'label': 'Paste History',
      'command': 'clipboard-history:paste'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clipboard History'
      'submenu': [
        { 'label': 'Copy', 'command': 'clipboard-history:copy' }
        { 'label': 'Paste History', 'command': 'clipboard-history:paste' }
      ]
    ]
  }
]
