'context-menu':
  '.atom-workspace': [
    {
      'label': 'Copy',
      'command': 'baseorder:copy'
    },
    {
      'label': 'Paste History',
      'command': 'baseorder:paste'
    }
    {
      'label': 'Sort by Frequency',
      'command': 'baseorder:sortFreq'
    }
    {
      'label': 'Sort by Source',
      'command': 'baseorder:sortSource'
    }
    {
      'label': 'Sort by Time',
      'command': 'baseorder:sortTime'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clipboard History'
      'submenu': [
        { 'label': 'Copy', 'command': 'baseorder:copy' }
        { 'label': 'Paste History', 'command': 'baseorder:paste' }
        { 'label': 'Sort by Frequency', 'command': 'baseorder:sortFreq' }
        { 'label': 'Sort by Source', 'command': 'baseorder:sortSource' }
        { 'label': 'Sort by Time', 'command': 'baseorder:sortTime' }
      ]
    ]
  }
]
