# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
'.platform-darwin, .platform-darwin .atom-workspace':
  'cmd-c':       'clipit-cmd:copy'
  'cmd-x':       'clipit-cmd:cut'
  'cmd-v':       'clipit-cmd:paste'
  'cmd-shift-j': 'clipit-cmd:indexPrevious'
  'cmd-shift-l': 'clipit-cmd:indexNext'
  'cmd-shift-v': 'clipit-cmd:show'

'.platform-win32, .platform-win32 .atom-workspace':
  'ctrl-c':        'clipit-cmd:copy'
  'ctrl-x':        'clipit-cmd:cut'
  'ctrl-v':        'clipit-cmd:paste'
  'ctrl-shift-j':  'clipit-cmd:indexPrevious'
  'ctrl-shift-l':  'clipit-cmd:indexNext'
  'ctrl-shift-v':  'clipit-cmd:show'

'.platform-linux, .platform-linux .atom-workspace':
  'ctrl-c':        'clipit-cmd:copy'
  'ctrl-x':        'clipit-cmd:cut'
  'ctrl-v':        'clipit-cmd:paste'
  'ctrl-shift-j':  'clipit-cmd:indexPrevious'
  'ctrl-shift-l':  'clipit-cmd:indexNext'
  'ctrl-shift-v':  'clipit-cmd:show'
