# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.atom-workspace': [
    {
      'label': 'Separator',
      'command': '-'
    },
    {
      'label': 'Copy',
      'command': 'clipit-cmd:copy'
    },
    {
      'label': 'Cut',
      'command': 'clipit-cmd:cut'
    },
    {
      'label': 'Paste',
      'command': 'core:paste'
    },
    {
      'label': 'Previous Index',
      'command': 'clipit-cmd:indexPrevious'
    },
    {
      'label': 'Next Index',
      'command': 'clipit-cmd:indexNext'
    },
    {
      'label': 'Show History',
      'command': 'clipit-cmd:show'
    },
    {
      'label': 'Separator',
      'command': '-'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clipit-cmd'
      'submenu': [
        { 'label': 'Copy', 'command': 'clipit-cmd:copy' }
        { 'label': 'Cut', 'command': 'clipit-cmd:cut' }
        { 'label': 'Paste', 'command': 'clipit-cmd:paste' }
        { 'label': 'Previous Index', 'command': 'clipit-cmd:indexPrevious' }
        { 'label': 'Next Index', 'command': 'clipit-cmd:indexNext' }
        { 'label': 'Show History', 'command': 'clipit-cmd:show' }
      ]
    ]
  }
]
